@{
    ViewBag.Title = "_Version";
}

<h1 style="font-size:20px;">Version 1.0</h1>
 <ul>
  <li>Super Admin Panel</li>
  <li>Organization Admin Panel</li>
  <li>Advertiser Panel</li>
  <li>Developer Panel</li>
   <li>Store Front</li>
     <li>Active Directory Users Integration</li>
        <li>Ticket Flow</li>
          <li>Apple Apps Integration</li>
</ul> 